<footer>
  <div class="container"><a href="https://www.bitstore.com.br" target="_blank">{{ text_project }}</a>|<a href="https://www.bitstore.com/docs/" target="_blank">{{ text_documentation }}</a>|<a href="https://www.bitstore.com.br/forum" target="_blank">{{ text_support }}</a><br /></div>
</footer>
</body>
</html>